# Virtualenvs
.env/

# Python
__pycache__

# IDE
.idea

# Notebooks
*.ipynb

# Notebook checkpoints
*ipynb_checkpoints
/**/*ipynb_checkpoints
.DS_Store
notebooks/.DS_Store

# Other Latex outputs
*.log
*.out
*.synctex.gz
*.aux
*.fls
*.fdb_latexmk
