# Virtualenvs
.env/

# Python
__pycache__

# IDE
.idea

# Notebooks
*.ipynb

# Notebook checkpoints
*ipynb_checkpoints
/**/*ipynb_checkpoints
.DS_Store
notebooks/.DS_Store

# Other Latex outputs
outputs/latex/main.log
outputs/latex/main.out
outputs/latex/main.synctex.gz
outputs/latex/main.aux
outputs/latex/main.fls
outputs/latex/main.fdb_latexmk
